* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

body {
	padding: 10px;
}
header {
	background-color: skyblue;
	margin-bottom: 5px;
	padding: 10px;
}

nav ul li {
	display: inline-block;
	padding: 10px;
	opacity: 0.3;
}

nav ul li:hover {
	opacity: 0.8;
}

section div {
	background-color: skyblue;
	border-radius: 10px;
	height: 10%;
}

aside {
	background-color: red;
	padding: 10px;
}
aside h1 {
	padding: 10px;
}
aside ol {
	padding: 10px;
}

article {
	background-color: green;
}

footer {
	padding: 10px;
	background-color: black;
	color: white;
}


.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
	float: left;
	padding: 15px;
	margin-bottom: 10px;
}




@media only screen and (min-width: 375px) {
	/* For Mobile First*/
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}

@media only screen and (min-width : 600px) {
	.col-md-1 {width: 8.33%;}
	.col-md-2 {width: 16.66%;}
	.col-md-3 {width: 25%;}
	.col-md-4 {width: 33.33%;}
	.col-md-5 {width: 41.66%;}
	.col-md-6 {width: 50%;}
	.col-md-7 {width: 58.33%;}
	.col-md-8 {width: 66.66%;}
	.col-md-9 {width: 75%;}
	.col-md-10 {width: 83.33%;}
	.col-md-11 {width: 91.66%;}
	.col-md-12 {width: 100%;}
	[class*="col-"] {
		color: orange;
	}
}

@media only screen and (min-width: 1200px) {
	.col-lg-1 {width: 8.33%;}
	.col-lg-2 {width: 16.66%;}
	.col-lg-3 {width: 25%;}
	.col-lg-4 {width: 33.33%;}
	.col-lg-5 {width: 41.66%;}
	.col-lg-6 {width: 50%;}
	.col-lg-7 {width: 58.33%;}
	.col-lg-8 {width: 66.66%;}
	.col-lg-9 {width: 75%;}
	.col-lg-10 {width: 83.33%;}
	.col-lg-11 {width: 91.66%;}
	.col-lg-12 {width: 100%;}
	
	[class*="col-"] {
	color: white; 
	
	}
}
 


